/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.container-card {
  position: relative;
  background-color: #2e0938;
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-bottom: 20px;
}

header,
.logo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-card img {
  width: 48px;
  margin-right: 10px;
}

.container-card h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.container-card header .chip {
  width: 60px;
}

.container-card h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

.container-card h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}

.container-card h5.name {
  margin-top: 20px;
}

.container-card .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}